
<article class=order>
  <h1>Order Summary </h1>
  <h2> Order ID: <%=%></h2>
  <ul>
    <li>Name: <%=@order.shopper_name%></li>
    <li>Email address: <%=@order.shopper_email%></li>
    <li>Mailing address: <%=@order.shopper_address%></li>
    <li>Last four of CC: <%=@order.cc_four%></li>
    <li>Exp. of CC: <%=@order.cc_exp%></li>
    <li>status: <%=@order.status%></li>
  </ul>
</article>

