<section class= "cart">
  <%if @order && @order.items.any? %>
    <h2><%=@order.items.count%> item<%="s" if @order.items.count != 1%> in cart</h2>
    <%@order.items.each do |item| %>
      <article class= "item">
        <h3><%=item.product.name%></h3>
        <p><%=item.product.description%>
        <p>quantity: <%=item.quantity%></p>
        <p>subtotal: $<%=item.subtotal%>
        <%= link_to "Remove item", item_path(item.id), method: :delete, class: "btn btn-outline-danger btn-sm"%>
      </article>
    <%end%>
    <%= link_to "Check Out", checkout_cart_path, class: "btn btn-primary"%>
      <%=link_to "Keep shopping", products_path %>
  <%else%>
  <h2> 0 items in cart</h2>
  <p class="centered_grey_text"><%= link_to "Discover something intangible to fill it up", products_path %></p>
  <%end%>
</section>
