<h2>Merchant Dashboard</h2>
<h2>Welcome <%= @login_merchant.username %></h2>

<%= link_to "Add new product", new_product_path, class: "btn btn-outline-primary" %>
<%= link_to "Add new category", new_category_path, class: "btn btn-outline-primary" %>

<% item_hash = Order.find_merchant_order_items(@login_merchant) %>

<h3>Paid orders</h3>
    <ul>
        <li>Total number of paid orders: <%= item_hash["paid"].count %></li>
        <li>Revenue for paid orders: $<%= "%.2f" %  Order.status_revenue(item_hash["paid"])%></li>
    </ul>
<h3>Complete orders</h3>
    <ul>
        <li>Total number of complete orders: <%= item_hash["complete"].count %></li>
        <li>Revenue for complete orders: $<%= "%.2f" %  Order.status_revenue(item_hash["complete"])%></li>
    </ul>
<h3>Total revenue</h3>
    <p> $<%= "%.2f" % ( Order.status_revenue(item_hash["paid"]) + Order.status_revenue(item_hash["completed"]))%> </p>

<h3>Orders by status</h3>
<%["paid", "complete"].each do |status|%>
  <h4>Status: <%=status.capitalize%></h4>
  <% item_hash[status].each do |order, items| %> 
    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col"><%= link_to "Order ID: #{Order.find(order).id}", order_path(Order.find(order).id) %> </th>
          <th scope="col">Date & Time of order: <%= Order.find(order).created_at.strftime("%B %d, %T")%></th>
          <th scope="col">Order Status: <%= Order.find(order).status %> </th>
          <th scope="col"> </th>
          <th scope="col"> </th>
        </tr>
      </thead>
      <thead>
        <tr>
          <th scope="col">Quantity</th>
          <th scope="col">Product Name</th>
          <th scope="col">Unit Price</th>
          <th scope="col">Subtotal</th>
          <th scope="col">Mark as Shipped</th>
        </tr>
      </thead>
      <tbody>
        <%items.each do |item| %>
          <tr>
            <th scope="row"><%=item.quantity%></th>
            <td><%=link_to item.product.name, product_path(item.product.id) %></td>
            <td>$<%=item.product.price / 100.0%></td>
            <td>$<%=item.subtotal %></td>   
            <td>placeholder for ship button</td>
          </tr>
        <%end%>
      </tbody>
    </table>
  <%end%>
<%end%>

<% @products = Product.where(merchant_id: @login_merchant.id).order(:active).reverse %>
<h3>All Products</h3>
    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">Description</th>
          <th scope="col">Active</th>
          <th scope="col">Retire Product</th>
        </tr>
      </thead>
      <tbody>
        <% @products.each do |product|%>
          <tr>
            <th scope="row"><%=product.id%></th>
            <td><%=link_to product.name, product_path(product.id) %></td>
            <td>$<%= "%.2f" % (product.price / 100.0)%></td>
            <td><%=product.description %></td>   
            <td><%=product.active? ? "Active" : "Retired" %>
            <td><%=link_to "Retire product", toggle_inactive_path(product.id), method: :patch, class: "btn btn-outline-primary" if product.active?%>
            <%=link_to "Activate product", toggle_inactive_path(product.id), method: :patch, class: "btn btn-outline-primary" if product.active? == false%>
            </td>
          </tr>
        <%end%>
      </tbody>
    </table>