<section>
  <h2> Shop <%= @merchant.username %> </h2>

  <% if @merchant.product_ids.any? %>
    <section class="flex-container">

      <% @merchant.products.each do |product| %>
        <% if product.active %>
          <div class="flex-item-products">
          <%= link_to image_tag(product.photo_url), product_path(product.id) %>
          <p class="strong"> <%= link_to product.name, product_path(product) %> </p>
      
          <p>Price: $ <%= "%.2f" % (product.price / 100.0) %></p>
          </div>
        <% end %>
      <% end %>

    </section>
  <% else %>
    <p>There are no products for this merchant</p>
  <% end %>
</section>

<section class="centered">
  <%= link_to "Back to all products", products_path, class: "btn btn-outline-success btn-sm" %> 
  <%= link_to "Back to all merchants", merchants_path, class: "btn btn-outline-success btn-sm" %> 
</section>