<h2>
  Product Name: <%= @product.name %>
</h2>

<%= image_tag @product.photo_url, alt: "Image of the product" %>

<h3>
  Price: $ <%= "%.2f" % (@product.price / 100.0) %>
</h3>

<h3>
  Description: <%= @product.description%>
</h3>

<h3>
  Stock: <%= @product.stock%>
</h3>

<section>
  <h4>
    Categories
  </h4>

  <% if @product.categories.any? %>
    <ul>

      <% @product.categories.each do |category| %>
        <li><%= category.name %></li>
      <% end %>

    </ul>
  <% else %>
    <p>There are no categories assigned to this product</p>
  <% end %>
</section>

<section>
  <h4>
    Reviews
  </h4>

<% reviews = Review.where(product_id: @product.id)%>
  <% if reviews.any? %>
    <ul>

      <% reviews.each do |review| %>
        <li>Rating: <%= review.rating%></li>
        <li>Comment: <%= review.comment%></li>
      <% end %>

    </ul>
  <% else %>
    <p>There are no reviews for this product</p>
  <% end %>
</section>
<section>
  <%= render "/reviews/review_form"%>
</section>
<section>
  <%= render "/items/item_form"%>
</section>

<%= link_to "Back to all products", products_path %> 

<% if @product.merchant_id == session[:merchant_id]%>
  <%= link_to "Edit product", edit_product_path(@product.id) %>
<% end %>
