<!DOCTYPE html>
<html>

  <head>
    <title>Intangibly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href= "https://fonts.googleapis.com/css?family=League+Script:regular;"/>
    <link rel="stylesheet" href= "https://fonts.googleapis.com/css?family=Mrs+Sheppards:regular;"/>
    <link rel="stylesheet" href= "https://fonts.googleapis.com/css?family=Raleway+Dots:regular;"/>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('intangible.png') %>
  </head>
  <body class="greybg">
    <header class="greybg">
      <nav class="navbar navbar-expand-lg navbar-light bg-purple">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <%= link_to "Intangibly", root_path,  class: "navbar-brand" %>
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <%= link_to "Products", products_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
             <%= link_to "Categories", categories_path, class: "nav-link" %> 
            </li>
            <li class="nav-item">
              <%= link_to "Merchants", merchants_path, class: "nav-link" %>
            </li>
          </ul>
          <div id="cart">
            <a href="/cart">
              <svg id="i-cart" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                <path d="M6 6 L30 6 27 19 9 19 M27 23 L10 23 5 2 2 2" />
                <circle cx="25" cy="27" r="2" />
                <circle cx="12" cy="27" r="2" />
              </svg>
              <%cart = Order.find_by(id: session[:cart_id])%>
              <% if cart%>
                <span class="badge badge-light"><%=cart.items.sum {|item| item.quantity}%></span>
              <%end%>
            </a>
          </div>
          <% if session[:merchant_id] %>
            <% merchant = Merchant.find_by(id: session[:merchant_id]) %>
            <%= link_to merchant.username, current_merchant_path, class: "dash-link nav-link"%>
            <%= link_to "Log Out", logout_path, method: "delete", class: "log-out btn btn-outline-success my-2 my-sm-0" %>
          <% else %>
            <%= link_to "Log In", github_login_path, class: "log-in btn btn-outline-success my-2 my-sm-0" %>
          <% end %>
      
          <%# <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form> %>
        </div>
      </nav>
      <section class = "flash">
        <% if flash[:success] %>
          <div class = "success alert alert-info">
            <%= flash[:success] %>
          </div>
        <% elsif flash[:error] %>
          <div class = "error alert alert-danger">
            <%= flash[:error] %>
            <ul>
              <%flash.each do |label, problems|%>
                <% if label != "error" %>
                  <% problems.each do |problem| %>
                   <li ><%= label %>: <%= problem %></li>
                  <% end %>
                <% end %>
              <% end %>
            </ul>
          </div>
        <% end %>
      
      </section>
    
    </header>
    
    <main class="whitebg">
      <%= yield %>
    </main>
    <footer class="footer text-center">
      <h4>&copy; Intangebelle Inc. 2019 <%= image_tag "intangible.png", alt: "logo", class: "sm-img"%></h4>
    </footer>

  </body>

</html>
